@using Mentor.Models
@model Mentor.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../../Content/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../Content/css/profile.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
   

    <script src="~/Scripts/SearchFunction.js"></script>


  
</head>
<body>
<nav class="navbar navbar-default" style="background-color: #3B5998;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div style="display: inline" class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand asizeColor" href="#">Dashboard/Logo</a>
            </div>



        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group has-feedback ">

                <input id="inputSearch" style="width: 350px;" type="text" class="form-control inputClass" data-toggle="dropdown" role="button" aria-expanded="false" onkeyup=" searchForThings() " autocomplete="off" placeholder="Search for Mentors, Mentees and Mentor Programs">
                <i class=" glyphicon glyphicon-search form-control-feedback"></i>

                <ul class="dropdown-menu searchField" role="menu" style="min-width: 350px; min-height: 350px;">
                    <div>
                        <li style="min-height: 150px; margin-left: 10px;" class="searchHeaders Persons">Persons</li>

                        <li class="searchFuck">
                            <p id="noResultPerson" class="noResult">No searchresult</p>
                        </li>
                    </div>
                        <div style="border-top: thin ridge black; margin: 10px;">
                            <li style="min-height: 150px;" class="searchHeaders Interest">Mentor Programs</li>
                            <li>
                                <p id="noResultMentorPrograms" class="noResult">No searchresult</p>
                            </li>
                        </div>
                        <li><a href="#" id="searchResult" style="text-align: center">Se flere resultater for:</a></li>
</ul>



            </div>

        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- Messages messages -->

                <li>
                <a id="message" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-comment"> 2</span></a>
                <ul id="messageField " class="dropdown-menu popUpBoxes " role="menu">
                    <li class="MessagesHeaders">Messages</li>

                    <li>
                        <a href="">
                            Matti Lund
                            <p> Jeg er en glad lille nisse</p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            Jon Arnfred
                            <p>Jeg er en glad lille nisse</p>
                        </a>
                    </li>

                </ul>

                <!-- Notifications messages -->
                <li>
                    <a id="notifications" href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign"> 2</span></a>

                    <ul id="notificationsMessage " class="dropdown-menu popUpBoxes inboxMessagesAndNotifications" role="menu">
                        <li class="MessagesHeaders">Notification</li>


                        <li>
                            <a href="">
                                Mentor Program

                                <p>Jesper synes godt om dig</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Mentor Program

                                <p>Peter har tildmeldt din klasse</p>
                            </a>
                        </li>

                    </ul>




                </li>

            </ul>




            <ul class="nav navbar-nav navbar-right">
                <li>
                <a style="font-size:x-small" id="profileInfo" class="navbar-brand asizeColor" href="/Profile/index/@Model.Id"> @Model.FirstName @Model.LastName</a>
                <img style="border-radius: 10px;" id="pictureInfo" src="@Model.Picture" height="25px" width="25px"/>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle asizeColor" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="asizeColor" href="#">TEST</a></li>
                        <li><a class="asizeColor" href="#">TEST</a></li>
                        <li><a class="asizeColor" href="#">TEST</a></li>
                        <li class="divider"></li>
                        <li><a href="#">LOG UD</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    @RenderBody()
</div>
    <script>
    $(document).ready(function () {
        $('#message').on('click', function () {

            $('#messageField').show();

        });
        //the Functions that opens the Notifications
        $('#notifications').on('click', function () {
            $('#notificationsMessage').show();

        });
    })

    </script>



</body>



</html>
