@using System.Web.UI.WebControls

@{
    Layout = "~/Views/Shared/_LoggedInHeader.cshtml";
}

@Styles.Render("~/Content/css/MyPrograms.css")


<div class="page-wrapper">
    
    <div class="container">
        <div class="row">
            <h4 class="pull-right title">
                Your programs
            </h4>
        </div>
        <div class="item active"></div>


        <div class="row">
            <ul id="myPrograms"></ul>
        </div>
    </div>



    <h4>
        Suggested programs
    </h4>


    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="thumbnails">
                    <li class="col-sm-3">
                        <div class="fff">
                            <div class="thumbnail">
                                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>Praesent commodo</h4>
                                <p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">» Read More</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div id="suggestedPrograms"></div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 6000
        })
    });

    var programs = [];
    var program = {};
    //constructor for programs
    function Program(imageSrc, title, desc, visb, creaId, progId) {
        this.imageSource = imageSrc;
        this.description = desc;
        this.visibility = visb;
        this.creatorId = creaId;
        this.programId = progId;
        this.title = title;
    }

    program = new Program('/Images/mentorLogo.png', "computer science", "this is a good program", true, 2, 6);
    programs.push(program);
    program = new Program('/Images/mentorLogo1.png', "the art of seduction", "this is an excellent program", true, 2, 7);
    programs.push(program);
    program = new Program('/Images/background4.jpg', "skate", "this is a really good program", true, 2, 6);
    programs.push(program);
    program = new Program('/Images/mentorLogo2.png', "the art of seduction", "this is an excellent program", true, 2, 7);
    programs.push(program);
    program = new Program('/Images/mentorLogo.png', "computer science", "this is a good program", true, 2, 6);
    programs.push(program);
    program = new Program('/Images/mentorLogo1.png', "the art of seduction", "this is an excellent program", true, 2, 7);
    programs.push(program);
    program = new Program('/Images/background4.jpg', "skate", "this is a really good program", true, 2, 6);
    programs.push(program);
    program = new Program('/Images/mentorLogo2.png', "the art of seduction", "this is an excellent program", true, 2, 7);
    programs.push(program);

    for (var i = 0; i < programs.length; i++) {
        //a container for the shown program
        var containerLi = document.createElement("li");
        containerLi.className = "col-md-4 programDiv";

        //content divs
        var titleDiv = document.createElement("div");
        titleDiv.innerHTML = programs[i].title;

        var imageDiv = document.createElement("div");
        imageDiv.className = "thumbnail";
        //link div
        var link = document.createElement("a");
        link.href = "Javascript:void(0)";

        var image = document.createElement("img");
        image.setAttribute("height", "360");
        image.setAttribute("width", "240");
        image.setAttribute("src", programs[i].imageSource);
        link.appendChild(image);
        imageDiv.appendChild(link);

        var descriptionDiv = document.createElement("div");
        descriptionDiv.className = "caption";
        var descriptionNode = document.createTextNode(programs[i].description);
        descriptionDiv.appendChild(descriptionNode);


        //add content divs to the container div
        containerLi.appendChild(titleDiv);
        containerLi.appendChild(imageDiv);
        containerLi.appendChild(descriptionDiv);

        //give the containerId the id of the program
        containerLi.id = programs[i].programId;

        //add the containerDiv to the document
        document.getElementById("myPrograms").appendChild(containerLi);
    }
</script>



