
@{
    Layout = "~/Views/Shared/_LoggedInHeader.cshtml";
}
<div>
    Tjhis is the page

</div>
<div id="showHere"></div>

<script>

    var Programs = [];

    //Use a constructor to construct the programs by passing in parameters
    var program

    imgArray[0] = new Image();
    imgArray[0].src = '/Images/mentorLogo.png';

    imgArray[1] = new Image();
    imgArray[1].src = '/Images/mentorLogo1.png';

    for (var i = 0; i < imgArray.length; i++) {
        $("#showHere").append(imgArray[i]);
    }

</script>



