@model Mentor.ViewModels.ProgramViewModel
<head>
    <title>Program</title>
</head>
<body>
<link href="~/Content/css/program.css" rel="stylesheet"/>

<div class="jumbotron">
    <div class="container">
        <h1>@Model.Program.Name</h1>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Request as mentor</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Request as mentee</a>
        </p>
    </div>
</div>
    <div class="jumbotron">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mentors</th>
                        <th>Mentees</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach (var mentor in Model.Program.Mentors)
                        {
                            <tr>
                                <td>
                                    @mentor.FirstName
                                </td>
                            </tr>
                        }
                          
                    
                    @foreach (var mentee in Model.Program.Mentee)
                    {
                        <tr>
                            <td>
                                @mentee.FirstName
                            </td>
                        </tr>
                    }
                        
                </tbody>
            </table>
        </div>


    </div>

</body>

