img { max-width:100%; }


li {
  display: inline-block;
  font-family: Whitney, helvetica, arial, sans-serif;
  position: relative;
  text-align: left;
  text-rendering: optimizeLegibility;
  vertical-align: top;
}


.programDiv {
    border-style: double;
    border-width: 3px;
    border-bottom-color: greenyellow;
    margin: 10px;
}

.title {
    margin-right:7em; /* the width of the navigation item*/
    width: 7em;
    position: relative;
}


#myPrograms {
     
}